/**
 * Moving Goods Microservices
 * FSM - Moving Goods Core Microservice - Delivery Service
 *
 * OpenAPI spec version: 0.0.2
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.DeliveryRequest
import io.swagger.client.model.DeliveryResponse
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object MgCoreControllerApi {

  /**
   * API to Create a Delivery from Moving Goods 
   * 
   * Expected answers:
   *   code 200 : DeliveryResponse (OK)
   *   code 201 :  (Created)
   *   code 401 :  (Unauthorized)
   *   code 403 :  (Forbidden)
   *   code 404 :  (Not Found)
   * 
   * @param deliveryRequest deliveryRequest
   */
  def createDelivery(deliveryRequest: DeliveryRequest): ApiRequest[DeliveryResponse] =
    ApiRequest[DeliveryResponse](ApiMethods.POST, "https://mg-core-service-dev.apps.pp01i.edc1.cf.ford.com", "/delivery", "application/json")
      .withBody(deliveryRequest)
      .withSuccessResponse[DeliveryResponse](200)
      .withErrorResponse[Unit](201)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](403)
      .withErrorResponse[Unit](404)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : String (OK)
   *   code 401 :  (Unauthorized)
   *   code 403 :  (Forbidden)
   *   code 404 :  (Not Found)
   */
  def currentUsingGET(): ApiRequest[String] =
    ApiRequest[String](ApiMethods.GET, "https://mg-core-service-dev.apps.pp01i.edc1.cf.ford.com", "/delivery/test", "application/json")
      .withSuccessResponse[String](200)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](403)
      .withErrorResponse[Unit](404)
      

}

